<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 7 - Class 3 - Lab</h1>
</div>

# Question 1

What is an example of a situation where you might want to use a `try`/`except`? Why?

The reason to use try / except is to execute multiple methonds by catching error types as it occurs without breaking the code.

# Exercise 1

Create a base class called `Person` that stores `name`, `birthday`, `age` and `location`. Create methods that allow you to change those attributes (change name, birthday, age and location).

Then create a class that inherits from `Person` called `Employee` that stores everything that `Person` sets but also `income`, `position` and `office_location`. Create methods that allow you to change/set those three attributes.

Demonstrate that the `Employee` class can change all the attributes mentioned above.

Bonus Points: Create a class attribute called `raise` and set that to 10% company wide. Create a method that applies that raise to `income` and demonstrate that you can use it to give employees a raise (company wide and per employee).

In [1]:
import random
import datetime
today = datetime.date.today() 
year = datetime.date.today().year
print('today,year',today,year)

today,year 2020-11-01 2020

In [2]:
# Create a base class called Person that stores name, birthday, age and location.
class Person:
    personal_data = []
    def __init__(self, emp_id, name, birthday, location):
        self.emp_id = emp_id
        self.name = name
        self.birthday = birthday
        self.age = today.year - birthday.year - ((today.month, today.day) < (birthday.month, birthday.day))
        self.location = location
        
    @staticmethod
    def unique_num():
        personal_num = random.sample(range(1, 1000), 1)
        return personal_num[0]
    
    def add_personal(self):
        personObj = {}
        personObj['emp_id'] = self.emp_id
        personObj['name'] = self.name
        personObj['birthday'] = self.birthday
        personObj['age'] = self.age
        personObj['location'] = self.location
        self.personal_data.append(personObj)
        return self.personal_data
    
#     Create methods that allow you to change those attributes (change name, birthday, age and location).
    def update_personal(self,person_id, updates):
        self.person_id = person_id
        self.updates = updates
        update_info = self.lookup_employee(self.person_id)
        try:
            update_info.update(self.updates)
        except Exception as es:
            print('err:',es)
        print('update_personal:',self.personal_data)

    def lookup_employee(self, num):
        self.num = num
        find_emp = next(item for item in self.personal_data if item["emp_id"] == self.num)
        return find_emp

In [3]:
id_num = Person.unique_num()
p = Person(id_num,'Jon Doe', datetime.date(1950, 1, 15), 'New York')
p.add_personal()
p.personal_data

[{'emp_id': 446,
  'name': 'Jon Doe',
  'birthday': datetime.date(1950, 1, 15),
  'age': 70,
  'location': 'New York'}]

In [4]:
id_num = Person.unique_num()
p = Person(id_num,'Jane Smith', datetime.date(1986, 11, 20), 'New York')
p.add_personal()
p.personal_data

[{'emp_id': 446,
  'name': 'Jon Doe',
  'birthday': datetime.date(1950, 1, 15),
  'age': 70,
  'location': 'New York'},
 {'emp_id': 90,
  'name': 'Jane Smith',
  'birthday': datetime.date(1986, 11, 20),
  'age': 33,
  'location': 'New York'}]

In [5]:
p.update_personal(446, {'name' : 'Jon M Doe', 'location': 'Maine'})

update_personal: [{'emp_id': 446, 'name': 'Jon M Doe', 'birthday': datetime.date(1950, 1, 15), 'age': 70, 'location': 'Maine'}, {'emp_id': 90, 'name': 'Jane Smith', 'birthday': datetime.date(1986, 11, 20), 'age': 33, 'location': 'New York'}]

In [6]:
# Then create a class that inherits from Person called Employee that stores everything that Person sets 
class Employee(Person):
#     Create methods that allow you to change/set those three attributes.
    def __init__(self, person_num, person_dict):
        self.person_num = person_num
        self.person_dict = person_dict
        self.person_info = Person.lookup_employee(self, self.person_num)
        print('self.person_info\n',self.person_num,self.person_info)

    def add_employement(self):
        add_info = self.person_info
        print('add_info\n',add_info)
        try:
            add_info.update({'employement': self.person_dict})
        except Exception as es:
            print('err:',es)
        print('update_personal:',self.personal_data)
        
#     Demonstrate that the Employee class can change all the attributes mentioned above.
    def update_employement(self, emp_num, emp_info):
        self.emp_num = emp_num
        self.emp_info = emp_info
        self.person_emp = Person.lookup_employee(self, emp_num)
        person_emp = self.person_emp
        if person_emp != None:
            for k,v in person_emp.items():
                if k == 'employement':
                    person_emp['employement'].update(self.emp_info)
        print('update_employement',self.person_emp)

In [7]:
e = Employee(446, {'income' : 10000, 'position' : 'Market Research', 'office_location' : 'New York'})
e.add_employement()

self.person_info
 446 {'emp_id': 446, 'name': 'Jon M Doe', 'birthday': datetime.date(1950, 1, 15), 'age': 70, 'location': 'Maine'}
add_info
 {'emp_id': 446, 'name': 'Jon M Doe', 'birthday': datetime.date(1950, 1, 15), 'age': 70, 'location': 'Maine'}
update_personal: [{'emp_id': 446, 'name': 'Jon M Doe', 'birthday': datetime.date(1950, 1, 15), 'age': 70, 'location': 'Maine', 'employement': {'income': 10000, 'position': 'Market Research', 'office_location': 'New York'}}, {'emp_id': 90, 'name': 'Jane Smith', 'birthday': datetime.date(1986, 11, 20), 'age': 33, 'location': 'New York'}]

In [8]:
e = Employee(90, {'income' : 5000, 'position' : 'Intern', 'office_location' : 'New Mexico'})
e.add_employement()

self.person_info
 90 {'emp_id': 90, 'name': 'Jane Smith', 'birthday': datetime.date(1986, 11, 20), 'age': 33, 'location': 'New York'}
add_info
 {'emp_id': 90, 'name': 'Jane Smith', 'birthday': datetime.date(1986, 11, 20), 'age': 33, 'location': 'New York'}
update_personal: [{'emp_id': 446, 'name': 'Jon M Doe', 'birthday': datetime.date(1950, 1, 15), 'age': 70, 'location': 'Maine', 'employement': {'income': 10000, 'position': 'Market Research', 'office_location': 'New York'}}, {'emp_id': 90, 'name': 'Jane Smith', 'birthday': datetime.date(1986, 11, 20), 'age': 33, 'location': 'New York', 'employement': {'income': 5000, 'position': 'Intern', 'office_location': 'New Mexico'}}]

In [9]:
e.update_employement(446, {'office_location' : 'Remote'})

update_employement {'emp_id': 446, 'name': 'Jon M Doe', 'birthday': datetime.date(1950, 1, 15), 'age': 70, 'location': 'Maine', 'employement': {'income': 10000, 'position': 'Market Research', 'office_location': 'Remote'}}

In [10]:
"""
Bonus Points: Create a class attribute called raise and set that to 10% company wide. 
    Create a method that applies that raise to income and demonstrate that 
    you can use it to give employees a raise (company wide and per employee).
"""
class Raise:
    def __init__(self,pre):
        if isinstance(pre,int):
            self.pre = pre
        else:
            self.pre = 0
        
    def add_raise(self):
        if self.pre > 0:
            pd = Person.personal_data
            for p in pd:
                r = ((self.pre/100) * p['employement']['income']) + p['employement']['income']
                p['employement']['income'] = r
        else:
            print("Enter a number.")
r = Raise(10)
r.add_raise()
print(Person.personal_data)

[{'emp_id': 446, 'name': 'Jon M Doe', 'birthday': datetime.date(1950, 1, 15), 'age': 70, 'location': 'Maine', 'employement': {'income': 11000.0, 'position': 'Market Research', 'office_location': 'Remote'}}, {'emp_id': 90, 'name': 'Jane Smith', 'birthday': datetime.date(1986, 11, 20), 'age': 33, 'location': 'New York', 'employement': {'income': 5500.0, 'position': 'Intern', 'office_location': 'New Mexico'}}]

# Exercise 2

Fix the following code by catching the `IndexError` using try/except.

In [11]:
s = [[1,2,3], [4,5,6], [7,8]]

try:
    for row in range(3):
        for col in range(3):
            print(s[row][col])
except IndexError as ie:
    print(ie)

1
2
3
4
5
6
7
8
list index out of range

# Exercise 3

Create a module that contains a single function. The function should be executable from the command line. It should take a series of `int`'s, sum them, and then output the result to the command line. Submit your *.py file with your name in the filename.

Execute: week-007\labs\lab3.py
Type: py lab3.py 3,4,4,5