<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <span style="margin-left: -15px;"><img src="https://tkhv2-static.s3.amazonaws.com/static-final/assets/img/sec_logo2sec.png"></img></span>
    <h2 style="margin: 0; padding: 0;">Data Science Fellowship</h2>
    <h1 style="padding: 0px 0px 0px 0px;">Week 15 - Class 3 - 01/13</h1>
</div>

## Objectives for this week:
* Introduction to Data Science
* Introduction to Statistical Analysis
* Statistical Libraries in Python

## Todays Agenda 
* Lab

<a href="#" id="hw"></a>
<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1 style="padding: 0px 0px 0px 0px;">Lab</h1>
</div>

# Exercise 1

a) Create a dictionary with fake data and use it to create a dataframe

b) Create a list of values and use it to create a series.

c) Using either the dataframe or the series above, output the count, mean and standard deviation of it.

# Exercise 2

For the next parts of today's lab we will be using the `grades.csv` file in `/datasets`.

In [2]:
# initial imports

import pandas as pd

df = pd.read_csv("../datasets/grades.csv")

In [3]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

a) Output the first 5 rows of the dataframe

b) Output the last 5 rows of the dataframe

c) What is the shape of this dataframe?

d) How many columns are there with no values? How much memory does this df use?

e) Create a new column called "total score" that is the sum of the math, reading and writing score. Output the dataframe

f) Create a new column called "average score" that is the average of the math, reading, and writing scores. Output the dataframe.

g) What is the average `total score` for each gender? What is the average `avg score` for each gender?

h) What is the average math score for each category of lunch? What about reading, writing, total and avg score

i) What is the descriptive statistics for each category of `parental level of education`? What about reading, writing, total and avg score

j) What are the average scores (for all score columns) for each category of `test preparation course`?

k) Output only the score columns

l) What rows have `avg scores` lower than 80? What percent of the total is that? (try to calculate the last part programmatically)

m) What are the `avg score`, `gender` and `lunch` columns for all students with avg scores above 90. Sort it in descending order by `avg score`. Store it to a new dataframe and then output the new dataframe.

m) How many rows are in the new dataframe? What percent of the new dataframe are female? What percent receive free/reduced lunch?

n) Using the original dataframe, what is the `avg score` for each of the `gender`, `lunch` and `parental education level` column combinations?

o) Sort the original dataframe by `gender` and `lunch` in descending order

p) Based on your exercises above, what sort of inferences can you make so far? What would you want to look further into? What factor seems to affect `avg` score the most? Explain your answer.