<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 24 Lab</h1>
</div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Part 1 - Python Problems
<hr>

### Exercise 1

Create a function that takes a list of integers and calculates the mean. Use the following formula for calculating averages and not any `mean`/`average` method.

$$ \mu = {\frac {1}{n}}\sum _{i=1}^{n}a_{i}={\frac {a_{1}+a_{2}+\cdots +a_{n}}{n}}$$

In [9]:
example_list = [1,2,3,4,5,6,7,8,9]
example_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
avg = sum(example_list) / len(example_list) 
avg

5.0

In [14]:
df = pd.DataFrame(example_list)
df.mean()

0    5.0
dtype: float64

In [15]:
df.median()

0    5.0
dtype: float64

### Exercise 2

Create a class that operates like a stack.

### Exercise 3

Write a generator function which returns a few values and then use it to retrieve a value using `next` (the global function).

### Exercise 4

Create a namedtuple `'Point'` that contains the points `x` and `y`.

### Exercise 5

Create a moving average class that:
* has a method `add` that is used to add new values
* has a method `avg` that calculates the average of the 5 most recently added values
* has an attribute `values` that contain all values added
* has an attribute `window` that contains the 5 most recently added values

## Part 2 - Numpy Problems
<hr>

### Exercise 1

Using numpy, create an array that contains the values of $y$ for each of the $x$ values ranging from 0 to 100.

$$ y = 12x+4  $$

### Exercise 2

Create a 2-dimensional numpy array that contains the numbers from 1 to 20 with even numbers in the first column and odd numbers in the second.

### Exercise 3

Create a numpy array with random numbers between 0 and 1.

### Exercise 4

Create an array that contains 100 numbers. All of them between 0 and 5. Then add that to an array that contains the numbers from 0 to 99.

### Exercise 5

Create a 10 by 10 matrix containing zeros. Then create a 10 by 10 matrix containing ones. Combine the two matrices so that the new dimensions are 20 by 10.

### Exercise 6

Given the following numpy array, find the cumulative sum along the rows. Then find the cumulative sum along the columns. Then output the 2nd (1st index) column but only the first 10 rows. You should get a very recognizable pattern.

In [3]:
a = np.array([[0,1,2,3,4,5,6,7,8,9,10],[1,2,3,4,5,6,7,8,9,10,0], [2,3,4,5,6,7,8,9,10,0,1], [3,4,5,6,7,8,9,10,0,1,2],[4,5,6,7,8,9,10,0,1,2,3],[5,6,7,8,9,10,0,1,2,3,4],[6,7,8,9,10,0,1,2,3,4,5],[7,8,9,10,0,1,2,3,4,5,6],[8,9,10,0,1,2,3,4,5,6,7],[9,10,0,1,2,3,4,5,6,7,8],[10,0,1,2,3,4,5,6,7,8,9]])

### Exercise 7

Using the following string. Turn it into a numpy array where all the letters are their own element.

In [4]:
s = "helloworld"

### Exercise 8

How would we flatten the following array?

In [5]:
a = np.eye(10)

## Part 3 - Pandas Problems
<hr>

**1.** Create a dataframe using the following:

In [6]:
lst = [['Red',4],['Blue',6],['Green',1],\
       ['Yellow',5],['White',3],['Black',2],]

**2.** Create a dataframe using the following:

In [7]:
dct = {'red':4, 'blue':6, 'green':1,\
       'yellow':5, 'white':3, 'black':2 }

**The following exercises will use the dataset imported below:**

In [8]:
df = pd.DataFrame([[np.nan,'Toyota','Camry',336978, 24765,np.nan],[2019,'Toyota','Corolla',304850, np.nan,4560556],[2019,'Toyota','Supra',np.nan, 35545,102511.78],[2019,np.nan,'Avalon',np.nan ,36480,1012940.16]])
df.columns = ['year', 'make', 'model', 'number sold', 'price', 'revenue (in thousands)']
df

     year    make    model  number sold    price  revenue (in thousands)
0     NaN  Toyota    Camry     336978.0  24765.0                     NaN
1  2019.0  Toyota  Corolla     304850.0      NaN              4560556.00
2  2019.0  Toyota    Supra          NaN  35545.0               102511.78
3  2019.0     NaN   Avalon          NaN  36480.0              1012940.16

### Exercise 4

Fix the `year` column in the dataframe by replacing missing values with the average value of that column.

### Exercise 5

Fix the `'make'` column by replacing the missing value with the value that occurred most frequently (mode).

### Exercise 6

Fix the `'revenue (in thousands)'` column by calculating the approximate revenue. Remember that the value of `'revenue'` is in the 1000s.

$$ \textrm{revenue} = \textrm{number sold} * \textrm{price} $$

### Exercise 7

Fix the `'price'` column by calculating the approximate price.

$$ \textrm{price} = \frac{\textrm{revenue}}{\textrm{number sold}} $$

### Exercise 8

Fix the `'number sold'` column by calculating the approximate number of vehicles sold.

$$ \textrm{number sold} = \frac{\textrm{revenue}}{\textrm{price}} $$