# Week 2 Project

Our company "Zeta" has an algorithmic trading bot that purchases shares of stocks. We've been buying shares of TSLA and MSFT for a while now. Our bot buys 1 share at a time and the prices of each purchase is listed below.

In [161]:
tsla = [132.56, 105.2, 137.54, 124.31, 124.54, 108.52, 139.35, 121.49, 117.89, 100.79, 116.63, 108.02, 103.25, 105.72, 114.12, 128.8, 102.37, 114.9, 132.4, 135.3, 151.3, 134.8, 111.1, 132.1, 156.31, 114.58, 140.42, 127.02, 126.36, 132.64, 152.15, 126.19, 156.41, 148.95, 164.27, 129.99, 145.17, 151.98, 148.75, 144.75, 133.51, 146.97, 144.09, 129.79, 152.15, 161.55, 158.24, 157.89, 163.06, 180.86, 185.57, 198.29, 184.2, 183.68, 193.8, 201.32]

# to verify your numbers are correct and have not been altered, uncomment and run the following:
#import hashlib; print("tsla prices are correct" if hashlib.md5(str(tsla).encode()).hexdigest() == '2157a3cc6c68b3ae3e26ae3101cf2c44' else "tsla prices are incorrect")

In [162]:
import hashlib; print("tsla prices are correct" if hashlib.md5(str(tsla).encode()).hexdigest() == '2157a3cc6c68b3ae3e26ae3101cf2c44' else "tsla prices are incorrect")

tsla prices are correct

In [163]:
msft = [167.69, 151.72, 141.38, 136.95, 146.5, 157.5, 177.42, 152.06, 147.97, 174.94, 162.73, 183.69, 139.53, 181.82, 167.49, 176.05, 179.25, 149.65, 183.38, 149.73, 151.2, 189.22, 166.28, 187.13, 195.46, 158.8, 154.24, 190.19, 153.23, 192.82, 176.67, 192.04, 177.19, 165.53, 184.44, 186.13, 199.71, 174.14, 175.61, 184.14, 205.52, 202.13, 180.19, 198.55, 204.91, 187.49, 183.52, 199.76, 212.38, 191.2, 222.39, 195.15, 185.7, 224.32, 195.49, 208.56, 184.11, 211.48, 207.77, 202.89, 186.68, 203.91, 234.01, 202.05, 205.86, 193.8, 213.51, 220.2, 234.56, 200.86, 206.04, 243.46, 243.3, 208.68, 220.96, 237.67, 208.42, 214.33, 251.64, 212.35, 217.35, 213.11, 251.61, 247.34, 234.95, 256.97, 235.53, 240.86, 213.03, 235.38, 257.89, 246.18, 234.4, 222.91, 253.5, 257.53, 266.9, 226.3, 230.97, 270.01]

# to verify your numbers are correct and have not been altered, uncomment and run the following:
#import hashlib; print("msft prices are correct" if hashlib.md5(str(msft).encode()).hexdigest() == '5e0b3acc2d380c957f9db6487c0f4807' else "msft prices are incorrect")

In [164]:
import hashlib; print("msft prices are correct" if hashlib.md5(str(msft).encode()).hexdigest() == '5e0b3acc2d380c957f9db6487c0f4807' else "msft prices are incorrect")

msft prices are correct

<div style="background-color:#000; color:#fff;font-size:2em;padding:1em 0; text-align:center">Create Project functions</div>

In [165]:
def num_of_shares(name, s):
    print('number of {} shares is: {}'.format(name, len(s)))

def average_price(name,s):
    cost_of_all_shares = sum(s)
    num_of_shares = len(s)
    avg_price = cost_of_all_shares/num_of_shares
    print("average price of our {} shares: {:.2f}".format(name, float(avg_price)))

def sorted_pricing(name, s, place, level):
    prices = sorted(s)
    if level == "lowest" and place == '':
        print("{} {} price: {}".format(name, level, prices[0]))
    elif level == "highest" and place == '':
        print("{} {} price: {}".format(name, level, prices[len(s)-1]))
    elif level == "lowest" and place != '':
        print(prices[:5])
    elif level == "highest" and place != '':
        print(prices[-5::])
    else:
        print(name, prices)

def unique_values(name, s):
    unique_prices = set()
    for p in s:
        unique_prices.add(p)
#     print(unique_prices)
    print("{} number of unique values: {}".format(name, len(s) - len(unique_prices)))

### How many shares of TSLA did we buy?

Note: remember that for each buy, we bought 1 share.

In [166]:
num_of_shares('tsla',tsla)

number of tsla shares is: 56

### What was the average price of our TSLA shares?

Average price = cost of all shares / number of shares

In [167]:
average_price('tsla',tsla)

average price of our tsla shares: 140.07

### What was the lowest price we paid for a share of TSLA?

In [168]:
sorted_pricing('tsla', tsla, '',"lowest")

tsla lowest price: 100.79

### What was the highest price we paid for a share of TSLA?

In [169]:
sorted_pricing('tsla', tsla, '', "highest")

tsla highest price: 201.32

### Sort the list of TSLA shares in place. What was the five lowest prices we paid for TSLA shares?

In [170]:
sorted_pricing('tsla', tsla, 5,"lowest")

[100.79, 102.37, 103.25, 105.2, 105.72]

### What were the five highest prices we paid for TSLA shares? 

Use a slice that includes a negative number

In [171]:
sorted_pricing('tsla', tsla, 5,"highest")

[184.2, 185.57, 193.8, 198.29, 201.32]

### How many unique values do we have in our list of TSLA prices?

In [172]:
unique_values('tsla', tsla)

tsla number of unique values: 1

### We have another algo running that also buys shares of TSLA. Using the following list and the set from before, output a list of the unique set of prices of the combined lists.

In [173]:
other_tsla_list = [114.12, 128.8, 102.37, 114.9, 132.4, 135.3, 151.3, 134.8, 111.1, 132.1]

# to verify the above numbers are correct and have not been altered, uncomment and run the following:
import hashlib; print("other tsla prices are correct" if hashlib.md5(str(other_tsla_list).encode()).hexdigest() == '9d855ef64203308925c4259ca8864cda' else "other prices are incorrect")

other tsla prices are correct

In [174]:
# list of the unique set of prices of the combined lists.
combine_list = set(tsla).intersection(set(other_tsla_list))
combine_list

{102.37, 111.1, 114.12, 114.9, 128.8, 132.1, 132.4, 134.8, 135.3, 151.3}

### Create a dictionary from the list of TSLA prices. Use the index of the sorted list as the key.

In [175]:
dict_tsla = {}
for t in range(len(tsla)):
    dict_tsla[t] = tsla[t]

dict_tsla

{0: 132.56,
 1: 105.2,
 2: 137.54,
 3: 124.31,
 4: 124.54,
 5: 108.52,
 6: 139.35,
 7: 121.49,
 8: 117.89,
 9: 100.79,
 10: 116.63,
 11: 108.02,
 12: 103.25,
 13: 105.72,
 14: 114.12,
 15: 128.8,
 16: 102.37,
 17: 114.9,
 18: 132.4,
 19: 135.3,
 20: 151.3,
 21: 134.8,
 22: 111.1,
 23: 132.1,
 24: 156.31,
 25: 114.58,
 26: 140.42,
 27: 127.02,
 28: 126.36,
 29: 132.64,
 30: 152.15,
 31: 126.19,
 32: 156.41,
 33: 148.95,
 34: 164.27,
 35: 129.99,
 36: 145.17,
 37: 151.98,
 38: 148.75,
 39: 144.75,
 40: 133.51,
 41: 146.97,
 42: 144.09,
 43: 129.79,
 44: 152.15,
 45: 161.55,
 46: 158.24,
 47: 157.89,
 48: 163.06,
 49: 180.86,
 50: 185.57,
 51: 198.29,
 52: 184.2,
 53: 183.68,
 54: 193.8,
 55: 201.32}

### How many shares of MSFT did we buy? 

Note: remember that for each buy, we bought only 1 share.

In [176]:
num_of_shares('msft',msft)

number of msft shares is: 100

### What was the average price of our MSFT shares?

In [177]:
average_price('msft',msft)

average price of our msft shares: 199.40

### What was the lowest price we paid for a share of MSFT?

In [178]:
low_high_price('msft', msft, "lowest")

msft lowest price: 136.95

### What was the highest price we paid for a share of MSFT?

In [179]:
low_high_price('msft', msft, "highest")

msft highest price: 270.01

### Sort the list of MSFT prices in place. What were the five lowest prices we paid for MSFT shares?

In [180]:
sorted_pricing('msft', msft, 5,"lowest")

[136.95, 139.53, 141.38, 146.5, 147.97]

### What were the five highest prices we paid for MSFT shares? 

Use a slice that includes a negative number

In [181]:
sorted_pricing('msft', msft, 5,"highest")

[256.97, 257.53, 257.89, 266.9, 270.01]

### How many unique values do we have in our list of MSFT prices?

In [182]:
unique_values('msft', msft)

msft number of unique values: 0

### We have another algo running that also buys shares of TSLA. Using the following list and the set from before, output a list of the unique prices of the combined lists.

In [183]:
other_msft_list = [149.73, 151.2, 189.22, 166.28, 187.13, 195.46, 158.8, 154.24, 190.19, 153.23, 192.82, 176.67, 192.04, 177.19]

# to verify the above numbers are correct and have not been altered, uncomment and run the following:
import hashlib; print("other_msft_prices are correct" if hashlib.md5(str(other_msft_list).encode()).hexdigest() == '2340257f15e1472379a92741c3a83fdd' else "other msft prices are incorrect")

other_msft_prices are correct

### Create a dictionary from the list of MSFT prices. Use the index of the sorted list as the key.

In [184]:
msft_combine_list = set(msft).intersection(set(other_msft_list))
msft_combine_list

{149.73,
 151.2,
 153.23,
 154.24,
 158.8,
 166.28,
 176.67,
 177.19,
 187.13,
 189.22,
 190.19,
 192.04,
 192.82,
 195.46}