<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 2 - Class 2</h1>
</div>

## Todays Agenda
* Homework Presentations
* Lists and indexing/operations
* Tuples
* Mutability

# Homework Presentations

# Exercise 4

Without actually using Python, determine what the following would evaluate
to in Python and explain step-by-step how you arrived at this answer:

    a. (1 or ((0 or 0) or 1)) or 1
    b. ((1 or 0) or 0 or 1) or 1
    c. 1 or 0 or 0 or 1 or 1
    
Change the following cells to markdown and fill your answer in them.

# Exercise 5

To convert Fahrenheit to Celsius, you use the following formula:

$$
    C^{\circ} = \frac{ (F^{\circ} - 32)}{1.8}
$$

Given a Fahrenheit input `temperature`, write some python statements to print the temperature in Celsius.

In [ ]:
temperature = input("Enter temperature in Fahrenheit: ")

### Note: In the following examples, `str` is used to denote a string. 

However, while python does allow us to set a value to a`reserved keyword`, this is generally a horrible idea. So keep in mind `str` here DOES NOT mean the type `str`.

---

### `str.endswith(suffix[, start[, end]]) -> bool`
Return True if S ends with the specified suffix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
suffix can also be a tuple of strings to try.

In [3]:
[i for i in dir(7) if not i.endswith(("__"))]

['as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [15]:
string = 'this is the sample string for the example'
print(string.find('string'))
print(string.endswith("string"))
print(string.endswith("example"))
print(string.endswith("string", 19,25))
print(string.endswith("string", 14,29))
print(string[19:30])
print(string[14:29])

19
False
True
True
False
string for
mple string for

---

### `str.find(sub[, start[, end]]) -> int`
Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.

In [41]:
"1 2 3 4 5 6 7 8 9 10".find("8")

14

In [42]:
s = "1 2 3 4 5 6 7 8 9 10"
# the 'space' counts as an element in the string
print(s[14])
print(s[0:14])

8
1 2 3 4 5 6 7

In [44]:
"1 2 3 4 5 6 7 8 9 10".find("8",0,14) 
# ("element" to find, start value, end value)

-1

---

### `str.index(sub[, start[, end]]) -> int`

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)

In [25]:
string = "string with $100.00 inside and $1000.00"

string.index("$100")

12

In [31]:
string.index("string")

0

In [32]:
string = "0   4   8   12"

print(string.index("4"))

string.index('4', 4, 10)

4

4

In [45]:
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
print(x)

8

In [46]:
arr = [1,4,6,8]
a = arr.index(4)
print(a)

1

---

### `str.join(iterable) -> str`
Concatenate any number of strings.

The string whose method is called is inserted in between each given string.
The result is returned as a new string.

Example: `'.'.join(['ab', 'pq', 'rs'])` -> `'ab.pq.rs'`

In [85]:
# iterable = ['1','2','3','4','5']
#iterable = ('1','2','3','4','5')
# iterable = {'1':'a', '2':'b', '3':'c', '4':'d', '5':'e'}
iterable = {'1','2','3','4','5'}
"".join(iterable)

'32541'

In [86]:
iterable = ["this", "will", "be", "a", "sentence"]
"       ".join(iterable) # pass string as a spacer

'this       will       be       a       sentence'

In [87]:
iterable = ["this", "will", "print", "on many", "lines"]
print("\n".join(iterable)) # print with a newline for each

this
will
print
on many
lines

---

### `str.partition(sep) -> tuple` 
Partition the string into three parts using the given separator.

This will search for the separator in the string.  If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.

In [88]:
"1,000".partition(',')

('1', ',', '000')

---

### `str.replace(find, replace[, count]) -> str`
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.

In [51]:
"The price is $1000".replace("$", "€")

'The price is €1000'

In [52]:
"$$$$$$$$$$".replace("$", "€", 5)

'€€€€€$$$$$'

---

### `str.split(sep[, maxsplit]) -> list`

In [53]:
"this is a long string".split(" ")

['this', 'is', 'a', 'long', 'string']

In [54]:
"this,is,a,long,string".split(",", 10)

['this', 'is', 'a', 'long', 'string']

---

### `str.splitlines() -> list`
Return a list of the lines in the string, breaking at line boundaries.

Line breaks are not included in the resulting list unless keepends is given and true.'

In [55]:
"string\nstring\nstring\n".split('\n')

['string', 'string', 'string', '']

---

### `str.endswith(prefix[, start[, end]]) -> bool`
Return True if S starts with the specified prefix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
prefix can also be a tuple of strings to try.

In [56]:
[i for i in dir(7) if not i.startswith(("__"))]

['as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [57]:
string = 'this is the sample string for the example'
#print(st.find('string'))
string.startswith("string", 19,25)

True

---

### `str.is_()` functions for strings

strings have various `is_` methods for checking various things:
* `isalnum()` - returns `True` if all characters in string is alpha-numeric
* `isalpha()` - returns `True` if all characters in string is an alphabetical string 
* `isascii()` - returns `True` if all characters in string are ASCII.
* `isdecimal()` - returns `True` if all characters are decimal.
* `isdigit()` - returns `True` if all characters are decimals, subscripts and superscripts
* `isidentifier` - returns `True` if string is a python identifier (e.g. variable name)
* `islower()` - returns `True` if all characters in string are lowercase
* `isnumeric()` - returns `True` for wider category of numeric numbers (

In [58]:
"abcdefg12345".isalnum()

True

In [59]:
"abcd".lower()

'abcd'

In [60]:
"a".isascii()

True

In [61]:
"12345".isdecimal()

True

In [62]:
string = "12345\u00B2"
print(string)
string.isdigit()

12345²

True

In [63]:
random_named_variable = "string"

"random_named_variable".isidentifier()

True

In [64]:
'abc'.islower()

True

In [65]:
num = "\u2182"
print(num)
num.isnumeric()

ↂ

True

In [66]:
"0 2"[1].isspace()

True

In [67]:
"Welcome To Python".istitle()

True

In [68]:
"ABCDE".isupper()

True

---

# `is` 

`is` is a built in keyword in the python language.

`==` is used for equality. `is` is used for identity.

```python
    >>> a = [1, 2, 3]
    >>> b = [1, 2, 3]
    >>> a == b
    True
    >>> a is b
    False
   

```

In [89]:
a = [1,2,3]
b = [1,2,3]

In [90]:
a = True
a is True

True

In [91]:
a = "string"
b = "string"
b is a

True

# `in`

`in` is a built in keyword in the python language.

`in` is used to check if value is present in a sequence or to iterate through a sequence.

In [95]:
s = "red"
colors = ["red", "blue", "green"]
s in colors

True

In [96]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

# Continuing from Lists

# List operations

list operations:
* `+` - concatenation (adding lists together)
* `*` - multiply string
* `<` - works but not how we want
* `==` - tests equality of strings
* `<=` - see `<`
* `len(lst)` - returns length of list  
* `print(lst)` - prints list
* `sorted(lst)` - sorts list

In [100]:
l = [0,1,2,3,4,5]
m = [6,7,8,9,10]

l + m

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [106]:
l = [0,1,2,3,4,5]
# duplicate the array
l * 2

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [110]:
l = [0,1,2,3,4,5]
m = [4, 5]

(l + m) * 3

[0, 1, 2, 3, 4, 5, 4, 5, 0, 1, 2, 3, 4, 5, 4, 5, 0, 1, 2, 3, 4, 5, 4, 5]

In [108]:
l = [6,3,4]
m = [5,4,4]
print(l>m)
l[0] > m[0]

True

True

In [104]:
l = [0,1,2,3,4,5]
len(l)

6

In [105]:
l = [0,1,2,3,4,5]
print(l)

[0, 1, 2, 3, 4, 5]

In [111]:
l = [4,3,5,0,1]
print(l)
sorted(l)

[4, 3, 5, 0, 1]

[0, 1, 3, 4, 5]

In [113]:
l=["ab", "de", "bc", "fg"]
sorted(l)

['ab', 'bc', 'de', 'fg']

In [114]:
[ i for i in dir(list()) if not i.endswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### `lst.append()`

Append object to the end of the list.

In [127]:
l = list()
l.append(1)
l

[1]

In [128]:
l = []
l.append(5)
l

[5]

In [140]:
k = list(range(6))
k

[0, 1, 2, 3, 4, 5]

### `lst.clear()`

Remove all items from list.

In [141]:
l = [0,1,2,3,4,5]
print(l)
l.clear()
l

[0, 1, 2, 3, 4, 5]

[]

### `lst.count()`
Return number of occurrences of value.

In [142]:
l = [2, 0, 7, 2, 3, 4, 2, 4, 5, 7]
l.count(2)

3

### `lst.extend()`

Extend list by appending elements from the iterable.

In [148]:
l = [1,2,3,4,5]
m = [5, -4, -3, -2, -1, 0]
m.extend(l) # the same as using m + l
print(m)

# using `m + l` is to create a new list; where `extend` is making **m** larger
ml = m + l
print(ml)

[5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
[5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### `lst.index(value)`

Return first index of value.

Raises ValueError if the value is not present.

In [152]:
# example index
l = [3, 8, 2, 1, 6, 5]
l.index(1)

3

In [153]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### `lst.insert(index, value)`

Insert object before index.

In [167]:
# example insert
l = [0, 1, 2, 3, 4]
print(l)
l.insert(3, 0)
l

[0, 1, 2, 3, 4]

[0, 1, 2, 0, 3, 4]

### `lst.pop(index)`

Remove and return item at index (default last).\n\nRaises IndexError if list is empty or index is out of range.

In [171]:
# example pop
l = [100, 31, 42, 443, 34, 95]
l.pop()
s = l.pop(3) # remove element placement in list
print(l, s)

[100, 31, 42, 34] 443

### `lst.remove(value)`
Remove first occurrence of value.  
Raises ValueError if the value is not present.

In [172]:
# example remove
l = [60, 21, 42, 553, 224, 85, 35]
print(l)
l.remove(42) # remove the value from list
l

[60, 21, 42, 553, 224, 85, 35]

[60, 21, 553, 224, 85, 35]

In [179]:
# example remove
l = [60, 21, 42, 21 ,553, 224, 85, 35]
# filter the list to exclude 21's
l = [i for i in l if i != 21]
l.sort()
l

[35, 42, 60, 85, 224, 553]

### `lst.reverse()`

Reverse *IN PLACE*.

In [180]:
# example reverse
l = [5, 4, 3, 2, 1]
l.reverse()
l

[1, 2, 3, 4, 5]

In [181]:
l = ['a', 'b', 'c', ['1','2', '3']]
l.reverse()
l

[['1', '2', '3'], 'c', 'b', 'a']

### `lst.sort()`

Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.

In [182]:
# example sort
l = [3,4,2,5,1]
l.sort()
l

[1, 2, 3, 4, 5]

In [183]:
l = ['ab', 'bd', 'db', 'cd', 'ad']
l.sort()
l

['ab', 'ad', 'bd', 'cd', 'db']

In [191]:
l = [
    #['name', 'class', 'grade'],
    ['john', 'data science', 97],
    ['jane', 'data science', 95],
    ['john', 'data science', 70],
    ['dave', 'data science', 98],
]
l.sort(key=lambda x: x[2])
print(l)
print(l[0][1].title())

[['john', 'data science', 70], ['jane', 'data science', 95], ['john', 'data science', 97], ['dave', 'data science', 98]]
Data Science

In [192]:
l = [
    #['name', 'class', 'grade'],
    ['john', 'data science', 97],
    ['jane', 'data science', 95],
    ['john', 'data science', 70],
    ['dave', 'data science', 98],
]
l.sort(key=lambda x: x[0])
print(l)

[['dave', 'data science', 98], ['jane', 'data science', 95], ['john', 'data science', 97], ['john', 'data science', 70]]

In [193]:
l = [1,2,3,4,5]
print(l)
m = l.copy()
m

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

# Tuples

Once you create a list, you can't make changes to the list

In [200]:
l = list(range(4))
print(l)

[0, 1, 2, 3]

In [201]:
l.append(4)
print(l)

[0, 1, 2, 3, 4]

In [202]:
s = tuple(range(4))
print(s)

(0, 1, 2, 3)

In [203]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [214]:
k = tuple(range(9))
z = s + k
print(z)

(0, 1, 2, 3, 0, 1, 2, 3, 4, 5, 6, 7, 8)

In [215]:
def func():
    return 0,1,2

In [217]:
val = func()
print(type(val))
val1, val2, val3 = func()
print(val1, val2, val3)

<class 'tuple'>
0 1 2

In [197]:
s.append(4)
print(s)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
s = tuple(range(4))
del s[3]

In [218]:
def func(): 
    return 0, 1, 2

In [219]:
val = func()
print(type(val))
print(val)

<class 'tuple'>
(0, 1, 2)

In [220]:
val1, val2, val3 = func()
print(type(val1))
print(val1, val2, val3)

<class 'int'>
0 1 2

In [225]:
# packing and unpacking tuple

y = ('1st', '2nd', '3rd', '4th')
one, two, three, four = y
one, two, three, four

('1st', '2nd', '3rd', '4th')

In [226]:
y = one, two, three, four
print(y)

('1st', '2nd', '3rd', '4th')

In [227]:
[i for i in dir(tuple) if not i.endswith('__')]

['count', 'index']

### `tup.count(value)`

Return number of occurrences of value.

In [230]:
l = (3, 4, 5, 3, 6, 7, 8)
# how many times 3 appears in the tuple
l.count(3)

2

### `tup.index(value)`

Return first index of value.

Raises ValueError if the value is not present.

In [231]:
# example of index()
l = (3, 4, 5, 3, 6, 7, 8)
l.index(4)

1

# Code Along

What is [Determinant](https://en.wikipedia.org/wiki/Determinant)

Given the following matrix, find the determinant:
$$
\begin{equation*}
A = 
\begin{vmatrix}
1 & 2 \\
3 & 4 \\
\end{vmatrix}
\end{equation*}
$$
The determinant of a matrix is calculated as follows:
$$
\begin{equation*}
det(A) = 
\begin{vmatrix}
a & b \\
c & d\\
\end{vmatrix}
= ad
- bc
\end{equation*}
$$

In [233]:
A = [[1,2], [3,4]]
print(A)

[[1, 2], [3, 4]]

In [237]:
a = A[0][0]
b = A[0][1]
c = A[1][0]
d = A[1][1]
a,b,c,d

(1, 2, 3, 4)

In [238]:
a*d - b*c

-2