<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 2 - Class 1</h1>
</div>


## Objectives for this week:
* String Indexing
* List, Tuples, Indexing Lists
* Dicts, Sets
* Mutable vs Immutable

## Todays Agenda
* Homework Presentations
* Lab Review
* Data Structures
* Python Data Structures
* More Strings and String indexing
* Lists

# Homework Presentations

# Exercise 1

a. Set a variable to a user input.

b. Set two variables in the same statement.

c. Create a variable with a value that when cast as a bool returns True.

d. If we add up all the numbers from 0 to 100, we get 5050. 

What sum do we get if we add up all the numbers from 0 to 1000?

(Show your work)

# Exercise 2 

Convert the following logical statements into python. Print the result for each possible combination (TT, TF, FT, FF)

¬(p || q )

( p || q ) ⊕ ( p & q)

(p & ¬q ) || (¬p & q)

<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Lesson</h1>
</div>

## Notes on last week

In [1]:
print("first") or print("second")

first
second

In [2]:
print("first") and print("second")

first

### Short circuiting:

### `and` short circuits if first value is `False`

In [3]:
1 and print("hello")

hello

In [4]:
0 and print("hello")

0

example:

In [6]:
# In Python, an anonymous function is created with the lambda keyword. 
# More loosely, it may or not be assigned a name. 
# Consider a two-argument anonymous function defined with lambda but not bound to a variable. 
# The lambda is not given a name: >>> >>> lambda x, y: x + y.

# A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.
# https://www.w3schools.com/python/python_lambda.asp
alert_triggered = True

# lambda arguments : expression
command = lambda: "response" 

result = alert_triggered and command()
print(result)

response

### `or` short circuits if the first value is `True`

In [7]:
1 or print("hello")

1

In [8]:
0 or print("hello")

hello

In [12]:
name = ''
# False because it's an empty string

name = name or input('what is your name: ')

what is your name: judi

In [15]:
first_name = "judi"
# True because the variable is assigned a string value

first_name = first_name or input("what's your first name: ")
print(first_name)

judi

# More on Strings and Indexing

```python
    s = "string"  
    s[:-1]
```

string operations:
* `+` - concatenation (adding strings together)
* `*` - multiply string
* `<` - compares string based on `ord` values
* `==` - tests equality of strings
* `<=` - compares string based on `ord` values
* `len(str)` - returns length of string `str`
* `print(str)` - prints string `str`
* `sorted(str)` - sorts list by values based on `ord`
* `ord(char)` - takes single character and returns unicode code point

In [18]:
# Writes the string zero ten times
"0 " * 10

'0 0 0 0 0 0 0 0 0 0 '

In [24]:
# "100" + (",000" * 3) <- multiply first
"100" + ",000" * 3

'100,000,000,000'

In [25]:
# The ord() function returns the number representing the unicode code of a specified character.
# https://www.w3schools.com/python/ref_func_ord.asp

print(ord('a'), '<', ord('b'))
'a' < 'b'

97 < 98

True

In [26]:
print("germany" == "Germany")
print("germany" > "Germany")
print(ord("g"), ">", ord("G"))

False
True
103 > 71

In [43]:
# The sorted() function returns a sorted list of the specified iterable object.
# You can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.

# Sort ascending:
s = sorted("stRing")
print(s)

# Sort descending
x = sorted(s, reverse=True)
print(x)

# this prints the ordinal for each character in s
# print([ord(i) for i in s]) 

arr = [ord(i) for i in s]
print(arr)
print([chr(i) for i in arr])

['R', 'g', 'i', 'n', 's', 't']
['t', 's', 'n', 'i', 'g', 'R']
[82, 103, 105, 110, 115, 116]
['R', 'g', 'i', 'n', 's', 't']

In [44]:
str_a = 'python'
str_b = 'python'
str_c = ''.join(['p', 'y', 't', 'h', 'o', 'n'])
str_a is str_b, str_b is str_c

(True, False)

### More on f-strings

In [56]:
# reminder: python statements can be written within brackets
f"{3 + 5}"

'8'

In [58]:
f"{sorted('string')}"

"['g', 'i', 'n', 'r', 's', 't']"

In [61]:
# escape using '\'
f"\""

'"'

In [62]:
# escape brackets using more brackets
f"{{'brackets'}}"

"{'brackets'}"

In [67]:
# format floats using C-style formatting in f-string
num = 234.567
f"{num}"

'234.567'

In [68]:
f"{num:10.2f}"

'    234.57'

In [71]:
f"${num:.0f}"

'$235'

---

### `str.format(*args, **kwargs) -> str`

Return a formatted version of S, using substitutions from args and kwargs.
The substitutions are identified by braces ('{' and '}').

In [51]:
"{}".format("hello world")

'hello world'

In [52]:
hello = "hello"
world = "world"

"{} {}".format(hello, world)

'hello world'

In [72]:
hello = "hello"
world = "world"

"{} {}".format(world, hello)

'world hello'

In [73]:
hello = "hello"
world = "world"

"{h} {w}".format(h=hello, w=world)

'hello world'

In [74]:
hello = "hello"
world = "world"

"{w} {h}".format(h=hello, w=world)

'world hello'

In [79]:
hello = "hello"
world = "world"
tup = hello, world
"{} {}".format(*tup)

tup2 = hello, "des"
"{} {}".format(*tup2)

'hello des'

In [80]:
dictionary = {'h': 'hello', 'w':'world'}

"{h} {w}".format(**dictionary)

'hello world'

### `str.format_map(dict) -> str`

Similar to `str.format()` but accepts a dictionary

In [81]:
"{n} {a}".format_map({'n': 'foo', 'a': 'bar'})

'foo bar'

## Which string formatting type should you use? 

If python 3.6+: `f-strings`.  

Else: `"".format()`

---

### Note: In the following examples, `str` is used to denote a string. 

However, while python does allow us to set a value to a`reserved keyword`, this is generally a horrible idea. So keep in mind `str` here DOES not mean the type `str`.

---

### `str.endswith(suffix[, start[, end]]) -> bool`
Return True if S ends with the specified suffix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
suffix can also be a tuple of strings to try.

In [132]:
# The dir() method tries to return a list of valid attributes of the object.
number = [1, 2, 3]
print(dir(number))

print('\nReturn Value from empty dir()')
print(dir())

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

Return Value from empty dir()
['In', 'Out', '_', '_101', '_102', '_103', '_104', '_106', '_107', '_108', '_109', '_110', '_112', '_113', '_114', '_115', '_116', '_118', '_119', '_120', '_121', '_122', '_125', '_126', '_127', '_128', '_129', '_130', '_16', '_18', '_19', '_20', '_22', '_24', '_25', '_4', '_40', '_41', '_44', '_45', '_46', '_47', '_48', '_49', '_50', '_51', '_52', '_53', '_54', '_55', '_56', '_57', '_58', '_59', '_60', '_61', '_62', '_63', '_64', '_65', '_66', '_67', '_68', '_69', '_7', '_71', '_72', '_73', '_74', '_75', '_77', '_78', '_79', '_80', '_81', '_82', '_83', '_84', '_85', '_86', '_87', '_98', '_99', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i100', '_i101', '_i102', '_i103', '_i104', '_i105', '_i106', '_i107', '_i108', '_i109', '_i11', '_i110', '_i111', '_i112', '_i113', '_i114', '_i115', '_i116', '_i117', '_i118', '_i119', '_i12', '_i120', '_i121', '_i122', '_i123', '_i124', '_i125', '_i126', '_i127', '_i128', '_i129', '_i13', '_i130', '_i131', '_i132', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i71', '_i72', '_i73', '_i74', '_i75', '_i76', '_i77', '_i78', '_i79', '_i8', '_i80', '_i81', '_i82', '_i83', '_i84', '_i85', '_i86', '_i87', '_i88', '_i89', '_i9', '_i90', '_i91', '_i92', '_i93', '_i94', '_i95', '_i96', '_i97', '_i98', '_i99', '_ih', '_ii', '_iii', '_oh', 'alert_triggered', 'arr', 'command', 'dictionary', 'exit', 'first_name', 'get_ipython', 'hello', 'name', 'num', 'number', 'py', 'quit', 'result', 's', 'str_a', 'str_b', 'str_c', 'string', 'tup', 'tup2', 'world', 'x']

In [133]:
class Person:
  def __dir__(self):
    return ['age', 'name', 'salary']
    

teacher = Person()
print(dir(teacher))

['age', 'name', 'salary']

In [130]:
[i for i in dir(7) if not i.endswith(("__"))]

['as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [129]:
string = 'this is the sample string for the example'
#print(st.find('string'))
string.endswith("string", 19,25)

True

---

### `str.find(sub[, start[, end]]) -> int`
Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.

In [ ]:
"1 2 3 4 5 6 7 8 9 10".find("8")

In [ ]:
"1 2 3 4 5 6 7 8 9 10".find("8",0,14)

---

### `str.index(sub[, start[, end]]) -> int`

In [244]:
string = "string with $100.00 inside and $1000.00"

string.index("$100")

12

In [245]:
string = "0   4   8   12"

print(string.index("4"))

string.index('4', 4, 10)

4

4

---

### `str.join(iterable) -> str`
Concatenate any number of strings.

The string whose method is called is inserted in between each given string.
The result is returned as a new string.

Example: `'.'.join(['ab', 'pq', 'rs'])` -> `'ab.pq.rs'`

In [246]:
iterable = ['1','2','3','4','5']
#iterable = ('1','2','3','4','5')
#iterable = {'1':'a', '2':'b', '3':'c', '4':'d', '5':'e'}
#iterable = {'1','2','3','4','5'}
"".join(iterable)

'12345'

In [247]:
iterable = ["this", "will", "be", "a", "sentence"]
" ".join(iterable)

'this will be a sentence'

In [248]:
iterable = ["this", "will", "print", "on many", "lines"]
print("\n".join(iterable))

this
will
print
on many
lines

---

### `str.partition(sep) -> tuple` 
Partition the string into three parts using the given separator.

This will search for the separator in the string.  If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.

In [ ]:
"1,000".partition(',')

---

### `str.replace(find, replace[, count]) -> str`
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.

In [134]:
"The price is $1000".replace("$", "€")

'The price is €1000'

In [135]:
"$$$$$$$$$$".replace("$", "€", 5)

'€€€€€$$$$$'

---

### `str.split(sep[, maxsplit]) -> list`

In [136]:
"this is a long string".split(" ")

['this', 'is', 'a', 'long', 'string']

In [139]:
"this is a long string".split(" ", 3)
# Will split until the third position and conbine the rest

['this', 'is', 'a', 'long string']

In [143]:
print("thiXsXisXaXloXngXstrXing".split("X"))
print("thiXsXisXaXloXngXstrXing".split("X", 3))

['thi', 's', 'is', 'a', 'lo', 'ng', 'str', 'ing']
['thi', 's', 'is', 'aXloXngXstrXing']

---

### `str.splitlines() -> list`
Return a list of the lines in the string, breaking at line boundaries.

Line breaks are not included in the resulting list unless keepends is given and true.'

In [138]:
"string\nstring\nstring\n".splitlines()

['string', 'string', 'string']

---

### `str.endswith(prefix[, start[, end]]) -> bool`
Return True if S starts with the specified prefix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
prefix can also be a tuple of strings to try.

In [147]:
print(dir())
[i for i in dir(7) if not i.startswith(("__"))]

['In', 'Out', 'Person', '_', '_101', '_102', '_103', '_104', '_106', '_107', '_108', '_109', '_110', '_112', '_113', '_114', '_115', '_116', '_118', '_119', '_120', '_121', '_122', '_125', '_126', '_127', '_128', '_129', '_130', '_134', '_135', '_136', '_137', '_138', '_139', '_140', '_144', '_145', '_146', '_16', '_18', '_19', '_20', '_22', '_24', '_25', '_4', '_40', '_41', '_44', '_45', '_46', '_47', '_48', '_49', '_50', '_51', '_52', '_53', '_54', '_55', '_56', '_57', '_58', '_59', '_60', '_61', '_62', '_63', '_64', '_65', '_66', '_67', '_68', '_69', '_7', '_71', '_72', '_73', '_74', '_75', '_77', '_78', '_79', '_80', '_81', '_82', '_83', '_84', '_85', '_86', '_87', '_98', '_99', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i100', '_i101', '_i102', '_i103', '_i104', '_i105', '_i106', '_i107', '_i108', '_i109', '_i11', '_i110', '_i111', '_i112', '_i113', '_i114', '_i115', '_i116', '_i117', '_i118', '_i119', '_i12', '_i120', '_i121', '_i122', '_i123', '_i124', '_i125', '_i126', '_i127', '_i128', '_i129', '_i13', '_i130', '_i131', '_i132', '_i133', '_i134', '_i135', '_i136', '_i137', '_i138', '_i139', '_i14', '_i140', '_i141', '_i142', '_i143', '_i144', '_i145', '_i146', '_i147', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i71', '_i72', '_i73', '_i74', '_i75', '_i76', '_i77', '_i78', '_i79', '_i8', '_i80', '_i81', '_i82', '_i83', '_i84', '_i85', '_i86', '_i87', '_i88', '_i89', '_i9', '_i90', '_i91', '_i92', '_i93', '_i94', '_i95', '_i96', '_i97', '_i98', '_i99', '_ih', '_ii', '_iii', '_oh', 'alert_triggered', 'arr', 'command', 'dictionary', 'exit', 'first_name', 'get_ipython', 'hello', 'name', 'num', 'number', 'py', 'quit', 'result', 's', 'str_a', 'str_b', 'str_c', 'string', 'teacher', 'tup', 'tup2', 'world', 'x']

['as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [145]:
string = 'this is the sample string for the example'
#print(st.find('string'))
string.startswith("string", 19,25)

True

---

### `str.is_()` functions for strings

strings have various `is_` methods for checking various things:
* `isalnum()` - returns `True` if all characters in string is alpha-numeric
* `isalpha()` - returns `True` if all characters in string is an alphabetical string 
* `isascii()` - returns `True` if all characters in string are ASCII.
* `isdecimal()` - returns `True` if all characters are decimal.
* `isdigit()` - returns `True` if all characters are decimals, subscripts and superscripts
* `isidentifier` - returns `True` if string is a python identifier (e.g. variable name)
* `islower()` - returns `True` if all characters in string are lowercase
* `isnumeric()` - returns `True` for wider category of numeric numbers (

In [ ]:
"abcdefg12345".isalnum()

In [ ]:
"abcd".isalpha()

In [ ]:
"a".isascii()

In [ ]:
"12345".isdecimal()

In [ ]:
string = "12345\u00B2"
print(string)
string.isdigit()

In [ ]:
random_named_variable = "string"

"random_named_variable".isidentifier()

In [ ]:
'abc'.islower()

In [ ]:
num = "\u2182"
print(num)
num.isnumeric()

In [ ]:
"0 2"[1].isspace()

In [ ]:
"Welcome To Python".istitle()

In [ ]:
"ABCDE".isupper()

---

## More on Indexing
```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```
string[:stop] - begining to stop

string[start:] - start -> end

string[start:stop]

string[start:stop:skip]

string[start:stop:step] or string[start:stop:skip] (using different terms)

In [83]:
py = "python"

py[0:1], py[1:2], py[2:3], py[3:4], py[4:5], py[5:6]

('p', 'y', 't', 'h', 'o', 'n')

In [97]:
# [To and From] 
# [0 : 5] = 'pytho'
print(py[0:5], py[5:6])

# start from the last index
print(py[3:])

# To get a slice starting for 1 to 3 cell
print(py[1:3])

# The last cell
print(py[len(py)-1])
# The first cell
print(py[-len(py)])

pytho n
hon
yt
n
p

In [98]:
# List elements can also be accessed using a negative list index, which counts from the end of the list:
py[-6:-5], py[-5:-4], py[-4:-3], py[-3:-2], py[-2:-1], py[-1:]

('p', 'y', 't', 'h', 'o', 'n')

In [99]:
py = "python"
len(py)

6

In [124]:
s = list("string")
print(s)
print(len(s))

['s', 't', 'r', 'i', 'n', 'g']
6

Omitting the first and/or last index:

- Omitting the first index a[:n] starts the slice at the beginning of the list.
- Omitting the last index a[m:] extends the slice from the first index m to the end of the list.
- Omitting both indexes a[:] returns a copy of the entire list, but unlike with a string, it’s a copy, not a reference to the same object.

In [103]:
s = "string"
s[:], s[0:], s[0:len(s)], s[::], s[0::], s[0::1]

('string', 'string', 'string', 'string', 'string', 'string')

In [109]:
s = "string"
s[0::2]

'srn'

In [104]:
# A stride can be added to your slice notation. Using an additional : and a third index designates a stride (also called a step) in your slice notation. 
# The stride can be either postive or negative:
s[1:6:2]

'tig'

In [115]:
s = "string"
s[:3:2]

'sr'

In [118]:
# Start / Stops at / Skip
# string[start:stop:skip]
s[1:2:3]

't'

In [119]:
s = "string"
s[::-1]

'gnirts'

In [120]:
# The negative is getting the values backwards/reverse
s = "string"
s[::-2]

'git'

In [121]:
s = "string"
s[::-3]

'gr'

### When indexing:

`str[start:end:skip]`

If skip is `-1`, each character in the str is returned backwards. Skips that are neither 1 or -1 will return str where `index % skip == 0` (not counting the 'zero' element when skip is negative).

In [122]:
s[6:1:-1]

'gnir'

---

# What are Data Structures?

In computer science, a data structure is a data organization, management, and storage format that enables efficient access and modification.[1][2][3] More precisely, a data structure is a collection of data values, the relationships among them, and the functions or operations that can be applied to the data.[4]

[source](https://en.wikipedia.org/wiki/Data_structure)

---

# Python Collection Data Structures
* Lists - mutable collection of different data types
* Tuples - immutable collection of different data types
* Sets - mutable collection of different data types
* Dict(ionaries)s - mutable collections ordered by key

## Lists


Sequence data structure that can be resized. Items are ordered by place.
```python
    >>> l = []
    >>> l.append(0)
    >>> l.append('a')
    >>> l.append(2.0)
    >>> l
    [0, 'a', 2.0]
    >>> l[0]
    0
    >>> l[0] = 3
    >>> l
    [3, 'a', 2.0]
```

## Tuples

Similar to lists but cannot be changed after declaration (immutable)
```python
    >>> l = ()
    >>> l 
    ()
    >>> l = (3, 'a')
    >>> l 
    (3, 'a')
    >>> l[0]
    3
    >>> l[0] = 2
    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    TypeError: 'tuple' object does not support item assignment

```

## Sets

Unordered collection data structure only allowing unique values. 
```python
    >>> s = set()
    >>> s.add(0)
    >>> s.add(1)
    >>> s.add(2)
    >>> s.add(2)
    >>> s
    {0, 1, 2}
```

In [150]:
s = set()
s.add(0)
s.add(1)
s.add(2)
# You can only add unique values to a set
s.add(2)

s.add(3)
print(s)

{0, 1, 2, 3, 4}

## Dicts

Data structure that maps values to keys. Items are ordered by key.

```python
    >>> val1 = []
    >>> val2 = True
    
    >>> s = {}
    >>> s["key1"] = val1
    >>> s["key2"] = val2
    >>> s 
    {'key1': [], 'key2': True}
```

In [151]:
val1 = []
val2 = True

s = {}
s["key1"] = val1
s["key2"] = val2
print(s)

{'key1': [], 'key2': True}

---

# Lists

Lists in python are similar to arrays in other languages. They can be used as stacks or queues. Lists can hold any python data type. There are also array in the python standard library which are based on lists but can only hold on specific data type.

## Declaring Lists

```python
    # declaring using built in function
    l = list()
    # declaring using [] operator
    l = []
    
    # declaring with values
    l = list([2,3,4,5])
    l = [2,3,4,5]

```

In [157]:
# declaring using built in function
l = list()
# declaring using [] operator
l = []

# declaring with values
l = list([2,3,4,5])
l = [2,3,4,5]
print(l)

[2, 3, 4, 5]

In [162]:
l = list()
m = []

print(1,m)

n = list([2,3,4,5])
o = [2,3,4,5]

print(n, "\n", o)

l == m, n == o

1 []
[2, 3, 4, 5]
 [2, 3, 4, 5]

(True, True)

`%%timeit` functions shows us the difference in declarations

In [172]:
%%timeit
l = list()

130 ns ± 2.09 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [169]:
%%timeit
m = []

45.2 ns ± 2.5 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [173]:
%%timeit
m = list(range(10))

524 ns ± 36 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [170]:
%%timeit
l = [i for i in range(10)]

999 ns ± 66.9 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [171]:
%%timeit 
m = list(range(10))

542 ns ± 47.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
l = [i for i in range(10)]
m = list(range(10))
print(l, m)
l == m

In [174]:
# The dis module includes functions for working with Python bytecode by “disassembling” it into a more human-readable form.
import dis
dis.dis("list()")

  1           0 LOAD_NAME                0 (list)
              2 CALL_FUNCTION            0
              4 RETURN_VALUE

In [177]:
dis.dis("[]")

  1           0 BUILD_LIST               0
              2 RETURN_VALUE

In [179]:
def myfunc(alist):
    return len(alist)
dis.dis(myfunc)

  2           0 LOAD_GLOBAL              0 (len)
              2 LOAD_FAST                0 (alist)
              4 CALL_FUNCTION            1
              6 RETURN_VALUE

In [176]:
m = []
n = [0,1,2,3]
o = ['a', 'b', 'c']
l = [True, False]

# List Indexing

Works similarly to string indexing

In [180]:
l = [0,1,2,3,4,5]

In [181]:
l[:]

[0, 1, 2, 3, 4, 5]

In [182]:
# Start at zero (0) cell and end at third (3) cell
l[0:3]

[0, 1, 2]

In [183]:
# Start at the third cell
l[3:]

[3, 4, 5]

In [184]:
# Print the list backwards/reverse
l[::-1]

[5, 4, 3, 2, 1, 0]

In [205]:
m = [0,1,2]
n = [m, m, m]
n

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [209]:
s = []
for i in m:
    print(i)
    s.append(m)

print(s)

0
1
2
[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [210]:
m = [[1,2,3],[4,5,6],[7,8,9]]
for i in m:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [211]:
m[0][0], m[0][1], m[0][2]

(1, 2, 3)

In [212]:
m[1][0], m[1][1], m[1][2]

(4, 5, 6)

In [213]:
m[2][0], m[2][1], m[2][2]

(7, 8, 9)

In [214]:
m[1][1] = 10

In [215]:
for i in m:
    print(i)

[1, 2, 3]
[4, 10, 6]
[7, 8, 9]

In [216]:
l = [[1,2,3,4,5,6],[7,8,9,10,11,12],[13,14,15,16,17,18],[19,20,21,22,23,24],[25,26,27,28,29,30], [31,32,33,34,35,36]]

In [217]:
for i in l:
    print(i)

[1, 2, 3, 4, 5, 6]
[7, 8, 9, 10, 11, 12]
[13, 14, 15, 16, 17, 18]
[19, 20, 21, 22, 23, 24]
[25, 26, 27, 28, 29, 30]
[31, 32, 33, 34, 35, 36]

In [218]:
l[5][5]

36

### Using built in keyword `del` to delete element of list

In [220]:
n = [0,1,2,3]
del n[2]
n

[0, 1, 3]

## `slice()` built in method

slice(stop)  
slice(start, stop[, step])  

Create a slice object.  This is used for extended slicing (e.g. a[0:10:2]).

In [221]:
s = [0,1,2,3,4,5]
s[0:3]

[0, 1, 2]

In [231]:
%%timeit
sl = slice(0,3)
s[sl]

247 ns ± 22.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [241]:
k = list(range(30))
print(k)
kl = slice(9,20)
k[kl]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## `sum(iterable[, start=inital_sum) -> int` built in method

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [242]:
l = [0,1,2,3,4,5,6,7,8,9,10]
sum(l)

55

In [243]:
# Add the sum of 1 to 45 (55 + 45 = 100)
sum(l, start=45)

100